* {
  box-sizing: border-box;
  font-family: roboto;
}

.main {
  display: flex;
  justify-content: center;
}

body {
  background-color: black;
}

ion-icon {
  font-size: 22px;
  cursor: pointer;
}

.container-header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #DBDBDB;
  z-index: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 975px;
  height: 54px;
  padding: 0 20px;
}

.titulo {
  display: flex;
  align-items: center;
}

.titulo ion-icon {
  margin-right: 10px;
}

.titulo img {
  width: 113px;
  padding-left: 10px;
  border-left: 1px solid #DBDBDB;
}

.pesquisa {
  height: 28px;
  min-width: 215px;
  margin: 0 20px;
  font-size: 12px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #979797;
  background-color: #FAFAFA;
  border: 1px solid #DBDBDB;
  cursor: text;
}

.botoes {
 display: flex;
 column-gap: 20px;
}

.base {
  display: flex;
  justify-content: space-between;
  width: 975px;
  /* background-color: #979797; */
  padding: 88px 20px;
}

.content {
  background-color: aqua;
  height: 100vh;
  width: 614px;
}

section {
  background-color:white;
  position: relative;
  display: flex;
  column-gap: 14px;
  width: 614px;
  height: 118px;
  border-radius: 3px;
  padding: 18px;
  border: 1px solid #DBDBDB;
  overflow: hidden;
}

section ion-icon {
  position: absolute;
  top: 43px;
  right: 8px;
  font-size: 32px;
  color: white;
  filter: drop-shadow(0 4px 4px #00000040);
}

.stories {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 66px;
}

.stories p {
  font-size: 12px;
  padding-top: 4px;
  min-height: 17px;
  max-width: 78px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.story {
  position: absolute;
  top: 5px;
  left: 5px;
}

.posts {
}

.container-sugestoes {
  margin-left: 10px;
  height: 100vh;
  width: 293px;
  /* background-color: brown; */

}

.sugestoes {
  position: fixed;
  height: 500px;
  width: 293px;
  background-color: #333;
}

@media (max-width: 935px) {

  .base {
    justify-content: center;
  }

  .container-sugestoes {
    display: none;
  }

}

@media (max-width: 614px) {

}