* {
  box-sizing: border-box;
  font-family: roboto;
}

ion-icon {
  font-size: 22px;
  cursor: pointer;
}

.container-header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #DBDBDB;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 975px;
  height: 54px;
  padding: 0 20px;
}

.titulo {
  display: flex;
  align-items: center;
}

.titulo ion-icon {
  margin-right: 10px;
}

.titulo img {
  width: 113px;
  padding-left: 10px;
  border-left: 1px solid #DBDBDB;
}

.pesquisa {
  height: 28px;
  min-width: 215px;
  margin: 0 20px;
  font-size: 12px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #979797;
  background-color: #FAFAFA;
  border: 1px solid #DBDBDB;
  cursor: text;
}

.botoes {
 display: flex;
 column-gap: 20px;
}

.container-conteudo {
  display: flex;
  justify-content: center;
}

.conteudo {
  display: flex;
  justify-content: space-between;
  width: 975px;
  /* background-color: #979797; */
  padding: 88px 20px;
}

.navegacao {
  background-color: bisque;
  height: 100vh;
  width: 614px;
}

.stories {

}

.posts {

}

.container-sugestoes {
  margin-left: 10px;
  height: 100vh;
  width: 293px;
  /* background-color: brown; */

}

.sugestoes {
  position: fixed;
  height: 500px;
  width: 293px;
  background-color: #333;
}

@media (max-width: 935px) {

  .conteudo {
    justify-content: center;
  }

  .container-sugestoes {
    display: none;
  }

}

@media (max-width: 614px) {

}